.topo-menu {
  background-color: var(--ion-color-primary);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
.barra-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.topo-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
  justify-content: space-between;
  text-decoration: none;
}

.link-a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 19px;
    justify-content: space-between;

    ion-icon {
      display: flex;
      font-size: 27px;
      color: var(--ion-color-primary-contrast);
    }
  }
}

.btn-acompanhe {
  display: flex;
  width: auto;
  height: 58px;
  padding-left: 15px;
  align-items: center;
  background-color: var(--ion-color-secondary);
  border-radius: 15px;
  margin: 0px 15px 22px 15px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: var(--ion-color-warning-contrast);
  }

  p {
    margin-left: 10px;
  }
  .conhecer {
    color: var(--ion-color-primary);
  }
  .ps-acompanhe {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
  }
  .icon {
    font-size: 21px;
  }
}
.text-acompanhe {
  padding-left: 15px;
  font-size: 17px;
}
.barra {
  border: 1px solid var(--ion-color-secondary);
}
.p-seguro {
  padding-left: 15px;
  font-size: 17px;
  margin: 15px 0;
}
.btn-seguro {
  display: flex;
  width: auto;
  height: 58px;

  padding-left: 15px;
  align-items: center;
  background-color: var(--ion-color-secondary);
  border-radius: 15px;
  margin: 0px 15px 22px 15px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: var(--ion-color-warning-contrast);
  }

  p {
    margin-left: 10px;
  }
  .conhecer {
    color: var(--ion-color-primary);
  }
  .ps-acompanhe {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
  }
  .icon {
    font-size: 21px;
  }
}
