<ion-content>
  <div class="topo-menu">
    <div class="barra-menu">
      <div class="topo-image">
        <a routerLink="/perfil"
          ><ion-avatar item-start>
            <img src="./assets/icon/rener-perfil.jpg" /> </ion-avatar
        ></a>
      </div>
      <div class="topo-links">
        <div class="link-a">
          <a routerLink="">
            <ion-icon name="eye-outline"></ion-icon>
          </a>
          <a routerLink="">
            <ion-icon name="help-circle-outline"></ion-icon>
          </a>
          <a routerLink="">
            <ion-icon name="person-add-outline"></ion-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-acompanhe">
    <p class="text-acompanhe">Acompanhe seu dinheiro</p>
    <div class="btns-acompanhe">
      <div class="btn-acompanhe">
        <ion-icon class="icon" name="list-circle-outline"></ion-icon>
        <div class="ps-acompanhe">
          <p><a routerLink="">Caixinhas</a></p>
          <p class="conhecer">conhecer</p>
        </div>
      </div>
      <div class="btn-acompanhe">
        <ion-icon class="icon" name="cellular-outline"></ion-icon>
        <div class="ps-acompanhe">
          <p><a routerLink="">Investimentos</a></p>
          <p>R$3,60</p>
        </div>
      </div>
      <div class="btn-acompanhe">
        <ion-icon class="icon" name="refresh-circle-outline"></ion-icon>
        <div class="ps-acompanhe">
          <p><a routerLink="">Cripto</a></p>
          <p class="conhecer">conhecer</p>
        </div>
      </div>
      <div class="barra"></div>

      <div class="p-seguro">Seguros</div>

      <div class="btn-seguro">
        <ion-icon class="icon" name="heart-outline"></ion-icon>
        <div class="ps-acompanhe">
          <p><a routerLink="">Seguro de Vida </a></p>
          <p class="conhecer">conhecer</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
