.topo-geral {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: var(--ion-color-secondary);
  padding-left: 30px;
  padding-top: 40px;
  font-size: 15px;
}
.sair {
  display: flex;
  margin-bottom: 25px;
  cursor: pointer;
  transition: all 0.2s;
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}
.sair:hover {
  transition: all 0.2s;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-secondary);
}
.text-foto {
  display: flex;
  flex-direction: row;
}
.topo-image {
  display: flex;
}
.text-perfil {
  margin-left: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: bolder;
}
.agencia-conta {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  p {
    margin: 0px;
    font-weight: bolder;
  }
}
.text-agencia-conta {
  margin: 0px;
  display: flex;
  font-weight: bolder;
}
.text-banco {
  margin-bottom: 25px;
  display: flex;
  p {
    font-weight: bolder;
    margin: 0px;
  }
}
.box-menu {
  display: flex;
  flex-direction: row;
  height: 74px;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  border-bottom: 1px solid var(--ion-color-secondary);
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon-menu {
  margin-right: 10px;
  font-weight: bolder;
  font-size: 30px;
}
.text-menu {
  display: flex;
}
.arrow {
  display: flex;
  align-items: center;
}
