<ion-content>
  <div class="topo-geral">
    <div class="text-foto">
      <div class="topo-image">
        <a routerLink="/perfil"
          ><ion-avatar item-start>
            <img src="./assets/icon/rener-perfil.jpg" />
            <div>
              <button id="notification-button" ion-button clear></button>
            </div> </ion-avatar
        ></a>
      </div>
      <p class="text-perfil">Rener</p>
    </div>

    <div class="agencia-conta">
      <p class="text-agencia-conta">Agencia 0001</p>
      <p>conta:5684729-9</p>
    </div>
    <div class="text-banco">
      <p>Banco 0260 Nu Pagamentos S.A.-Instituição de Pagamentos</p>
    </div>
  </div>
  <div class="box-menu">
    <div class="menu">
      <ion-icon class="icon-menu" name="heart-outline"></ion-icon>
      <p class="text-menu">Seguro de vida</p>
    </div>
    <div class="arrow">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div class="box-menu">
    <div class="menu">
      <ion-icon class="icon-menu" name="notifications-outline"></ion-icon>
      <p class="text-menu">Notificações</p>
    </div>
    <div class="arrow">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div class="box-menu">
    <div class="menu">
      <ion-icon class="icon-menu" name="help-circle-outline"></ion-icon>
      <p class="text-menu">Me ajuda</p>
    </div>
    <div class="arrow">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div class="box-menu">
    <div class="menu">
      <ion-icon class="icon-menu" name="person-outline"></ion-icon>
      <p class="text-menu">Editar dados do perfil</p>
    </div>
    <div class="arrow">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div class="box-menu">
    <div class="menu">
      <ion-icon class="icon-menu" name="lock-closed-outline"></ion-icon>
      <p class="text-menu">Segurança</p>
    </div>
    <div class="arrow">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div class="box-menu">
    <div class="menu">
      <ion-icon class="icon-menu" name="home-outline"></ion-icon>
      <p class="text-menu">Open Finance</p>
    </div>
    <div class="arrow">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div class="box-menu">
    <div class="menu">
      <ion-icon class="icon-menu" name="heart-outline"></ion-icon>
      <p class="text-menu">Configurar Chave PIX</p>
    </div>
    <div class="arrow">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div class="box-menu">
    <div class="menu">
      <ion-icon class="icon-menu" name="heart-outline"></ion-icon>
      <p class="text-menu">Abrir conta PJ</p>
    </div>
    <div class="arrow">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
</ion-content>
