.modal-card {
  display: flex;
  flex-direction: column;
  padding: 27px 30px 0px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#e6e6fd, #e6e6fd, #e6e6fd, #ffff);
}

.titulo {
  display: flex;
  flex-direction: column;
  margin-top: 197px;
  align-items: center;
  justify-content: flex-end;
  p {
    margin-bottom: 126px;
  }
  h1 {
    margin: 20px 0px 81px;
  }
}

.btn-continuar {
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px solid var(--ion-color-primary);
  justify-content: center;
  border-radius: 1.5625rem;
  align-items: center;
  background: linear-gradient(
    0.25turn,
    var(--ion-color-primary),
    var(--ion-color-primary),
    var(--ion-color-primary-tint),
    var(--ion-color-primary-shade)
  );
  font-size: 14px;
  color: var(--ion-color-light-tint);
  width: 150px;

  transition: all 0.3s;
  cursor: pointer;
}
.btn-continuar:hover {
  background: var(--ion-color-light-tint);
  color: var(--ion-color-primary-shade);
  transition: all 0.3s;
}
