<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
      <ion-icon name="battery-full-outline"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="topo-menu">
      <div class="barra-menu">
        <div class="topo-image">
          <a routerLink="/perfil"
            ><ion-avatar item-start>
              <img
                src="https://scontent.fbau1-1.fna.fbcdn.net/v/t39.30808-6/305485274_2005873729800484_6171573546685569984_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=r6ntMpFNEG4AX8-cacf&_nc_ht=scontent.fbau1-1.fna&oh=00_AT_ZaL-7XSujEJTmm-2dlXIwlJD8Pr0F17oOTgQGGx-gfA&oe=6344796A"
              />
              <div>
                <button id="notification-button" ion-button clear></button>
              </div> </ion-avatar
          ></a>
        </div>
        <div class="topo-links">
          <div class="link-a">
            <a routerLink="">
              <ion-icon name="eye-outline"></ion-icon>
            </a>
            <a routerLink="">
              <ion-icon name="help-circle-outline"></ion-icon>
            </a>
            <a routerLink="">
              <ion-icon name="person-add-outline"></ion-icon>
            </a>
          </div>
        </div>
      </div>

      <div class="text-nameCleinte">
        <p>Olá, Rener</p>
      </div>
    </div>

    <div class="container-geral">
      <div class="conta">
        <p>Conta</p>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="conta-btns">
        <div class="btn-arounded">
          <div class="btn-pix">
            <ion-icon class="icon-pix" name="barcode-outline"></ion-icon>
          </div>
          <p class="text-pix">Pagar</p>
        </div>
        <div class="btn-arounded">
          <div class="btn-pix">
            <ion-icon class="icon-pix" name="enter-outline"></ion-icon>
          </div>
          <p class="text-pix">Transferir</p>
        </div>
        <div class="btn-arounded">
          <div class="btn-pix">
            <ion-icon class="icon-pix" name="download-outline"></ion-icon>
          </div>
          <p class="text-pix">Depositar</p>
        </div>
        <div class="btn-arounded">
          <div class="btn-pix">
            <ion-icon class="icon-pix" name="phone-portrait-outline"></ion-icon>
          </div>
          <p class="text-pix">Recarga de Celular</p>
        </div>
        <div class="btn-arounded">
          <div class="btn-pix">
            <ion-icon class="icon-pix" name="barcode-outline"></ion-icon>
          </div>
          <p class="text-pix">Cobrar</p>
        </div>
        <div class="btn-arounded">
          <div class="btn-pix">
            <ion-icon class="icon-pix" name="heart-outline"></ion-icon>
          </div>
          <p class="text-pix">Doação</p>
        </div>
        <div class="btn-arounded">
          <div class="btn-pix">
            <ion-icon class="icon-pix" name="globe-outline"></ion-icon>
          </div>
          <p class="text-pix">Transferir Internac.</p>
        </div>
        <div class="btn-arounded">
          <div class="btn-pix">
            <ion-icon class="icon-pix" name="cellular-outline"></ion-icon>
          </div>
          <p class="text-pix">Inverstir</p>
        </div>
      </div>
      <div class="meus-cartoes">
        <ion-icon name="id-card-outline"></ion-icon>
        <p>Meus Cartoes</p>
      </div>
      <div class="cards-father">
        <div class="card-info">
          <p><a routerLink="">Open Finance</a>, saiba como trazer seus dados</p>
        </div>
        <div class="card-info">
          <p><a routerLink="">Open Finance</a>, saiba como trazer seus dados</p>
        </div>
        <div class="card-info">
          <p><a routerLink="">Open Finance</a>, saiba como trazer seus dados</p>
        </div>
        <div class="card-info">
          <p><a routerLink="">Open Finance</a>, saiba como trazer seus dados</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
