<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
      <ion-icon name="battery-full-outline"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="topo-menu">
      <div class="barra-menu">
        <div class="topo-image">
          <a routerLink="/perfil"
            ><ion-avatar item-start>
              <img
                src="https://scontent.fbau1-1.fna.fbcdn.net/v/t39.30808-6/305485274_2005873729800484_6171573546685569984_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=r6ntMpFNEG4AX8-cacf&_nc_ht=scontent.fbau1-1.fna&oh=00_AT_ZaL-7XSujEJTmm-2dlXIwlJD8Pr0F17oOTgQGGx-gfA&oe=6344796A"
              />
              <div>
                <button id="notification-button" ion-button clear></button>
              </div> </ion-avatar
          ></a>
        </div>
        <div class="topo-links">
          <div class="link-a">
            <a routerLink="">
              <ion-icon name="eye-outline"></ion-icon>
            </a>
            <a routerLink="">
              <ion-icon name="help-circle-outline"></ion-icon>
            </a>
            <a routerLink="">
              <ion-icon name="person-add-outline"></ion-icon>
            </a>
          </div>
        </div>
      </div>

      <div class="text-nameCleinte">
        <p>Olá, Rener</p>
      </div>
    </div>

    <div class="container-geral">
      <div class="conta">
        <p>Conta</p>

        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="h3"><h3>R$18000,00</h3></div>
      <div class="conta-btns">
        <div class="btn-arounded">
          <div class="btn-pix">
            <ion-icon class="icon-pix" name="barcode-outline"></ion-icon>
          </div>
          <p class="text-pix">Pagar</p>
        </div>
        <div class="btn-arounded">
          <div class="btn-pix">
            <ion-icon class="icon-pix" name="enter-outline"></ion-icon>
          </div>
          <p class="text-pix">Transferir</p>
        </div>
        <div class="btn-arounded">
          <div class="btn-pix">
            <ion-icon class="icon-pix" name="download-outline"></ion-icon>
          </div>
          <p class="text-pix">Depositar</p>
        </div>
        <div class="btn-arounded">
          <div class="btn-pix">
            <ion-icon class="icon-pix" name="phone-portrait-outline"></ion-icon>
          </div>
          <p class="text-pix">Recarga de Celular</p>
        </div>
        <div class="btn-arounded">
          <div class="btn-pix">
            <ion-icon class="icon-pix" name="barcode-outline"></ion-icon>
          </div>
          <p class="text-pix">Cobrar</p>
        </div>
        <div class="btn-arounded">
          <div class="btn-pix">
            <ion-icon class="icon-pix" name="heart-outline"></ion-icon>
          </div>
          <p class="text-pix">Doação</p>
        </div>
        <div class="btn-arounded">
          <div class="btn-pix">
            <ion-icon class="icon-pix" name="globe-outline"></ion-icon>
          </div>
          <p class="text-pix">Transferir Internac.</p>
        </div>
        <div class="btn-arounded">
          <div class="btn-pix">
            <ion-icon class="icon-pix" name="cellular-outline"></ion-icon>
          </div>
          <p class="text-pix">Inverstir</p>
        </div>
      </div>
      <div class="meus-cartoes">
        <ion-icon name="id-card-outline"></ion-icon>
        <p><a routerLink="cartoes">Meus Cartoes</a></p>
      </div>
      <div class="cards-father">
        <div class="card-info">
          <p><a routerLink="">Open Finance</a>, saiba como trazer seus dados</p>
        </div>
        <div class="card-info">
          <p>
            Seguro de vida a partir de R$4/mês?<a routerLink=""
              >Conheca o Nubank Vida !</a
            >
          </p>
        </div>
        <div class="card-info">
          <p>
            Salve um amigo da burocracia,<a routerLink=""
              >Daça um convite para o Nubank</a
            >
          </p>
        </div>
      </div>
      <div class="barra"></div>
      <div class="conta">
        <p>Cartão bloqueado</p>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="card-fatura">
        <div class="fatura-atual">
          <p>Fatura atual</p>
          <div><h3>R$1000,00</h3></div>
          <p>Limite disponivel de R$ 19000,00</p>
        </div>
        <div class="btn-reserva">Reservar valor como limite</div>
      </div>
      <div class="barra"></div>
      <div class="h3"><h3>Acompanhe também</h3></div>
      <div class="assitente">
        <ion-icon name="add-circle-outline"></ion-icon>
        <p><a routerLink="cartoes">Assistente de pagamentos </a></p>
      </div>
      <div class="barra"></div>
      <div class="h3"><h3>Descubra mais</h3></div>
      <div class="cards-father">
        <div class="card-info-footer">
          <img
            src="https://blog.nubank.com.br/wp-content/uploads/2020/11/4_header.png"
            jsaction="load:XAeZkd;"
            jsname="HiaYvf"
            class="n3VNCb KAlRDb"
            alt="Nubank Vida: o que o seguro de vida do Nubank tem de diferente - Fala,  Nubank"
            data-noaft="1"
          />

          <p><a routerLink="">Open Finance</a>, saiba como trazer seus dados</p>
        </div>

        <div class="card-info-footer">
          <img
            data-ils="4"
            jsaction="rcuQ6b:trigger.M8vzZb;"
            class="rg_i Q4LuWd"
            jsname="Q4LuWd"
            alt="Caixinhas do Nubank. Seus planos organizados. Seus planos mais seus. | O  futuro é feito de muitos sonhos e planos. E acreditar em cada um deles  ficou mais simples com as Caixinhas"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy7acH4GWavqV_2p9v9enCp1Qp1Kikm41UqQ&amp;usqp=CAU"
          />
          <p>
            Salve um amigo da burocracia,<a routerLink=""
              >Daça um convite para o Nubank</a
            >
          </p>
        </div>
        <div class="card-info-footer">
          <img
            src="https://www.google.com/search?q=cards+imagens+nubank&sxsrf=ALiCzsadf7_K9-fXwIeADK4bjUvJbXfiaA:1665428472234&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiV2PHDrNb6AhW8BbkGHXJ3AWcQ_AUoAXoECAIQAw&biw=1280&bih=620&dpr=1#imgrc=hhVl8N3uWZtmkM"
          />
          <p>
            Seguro de vida a partir de R$4/mês?<a routerLink=""
              >Conheca o Nubank Vida !</a
            >
          </p>
        </div>
        <div class="card-info-footer">
          <img
            src="https://www.google.com/search?q=cards+imagens+nubank&sxsrf=ALiCzsadf7_K9-fXwIeADK4bjUvJbXfiaA:1665428472234&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiV2PHDrNb6AhW8BbkGHXJ3AWcQ_AUoAXoECAIQAw&biw=1280&bih=620&dpr=1#imgrc=hhVl8N3uWZtmkM"
          />
          <p>
            Seguro de vida a partir de R$4/mês?<a routerLink=""
              >Conheca o Nubank Vida !</a
            >
          </p>
        </div>
        <div class="card-info-footer">
          <img
            src="https://www.google.com/search?q=cards+imagens+nubank&sxsrf=ALiCzsadf7_K9-fXwIeADK4bjUvJbXfiaA:1665428472234&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiV2PHDrNb6AhW8BbkGHXJ3AWcQ_AUoAXoECAIQAw&biw=1280&bih=620&dpr=1#imgrc=hhVl8N3uWZtmkM"
          />
          <p>
            Seguro de vida a partir de R$4/mês?<a routerLink=""
              >Conheca o Nubank Vida !</a
            >
          </p>
        </div>
        <div class="card-info-footer">
          <p>
            Salve um amigo da burocracia,<a routerLink=""
              >Daça um convite para o Nubank</a
            >
          </p>
        </div>
        <div class="card-info-footer">
          <img
            src="https://www.google.com/search?q=cards+imagens+nubank&sxsrf=ALiCzsadf7_K9-fXwIeADK4bjUvJbXfiaA:1665428472234&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiV2PHDrNb6AhW8BbkGHXJ3AWcQ_AUoAXoECAIQAw&biw=1280&bih=620&dpr=1#imgrc=hhVl8N3uWZtmkM"
          />
          <p>
            Seguro de vida a partir de R$4/mês?<a routerLink=""
              >Conheca o Nubank Vida !</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
