#container {
  display: flex;
  flex-direction: column;
}
.barra {
  border: 1px solid var(--ion-color-secondary);
}
.topo-menu {
  background-color: var(--ion-color-primary);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
.barra-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  margin-top: 35px;
}
#notification-button {
  position: relative;
  width: 15px;
  height: 15px;
  top: -60px;
  right: -55px;
  overflow: visible !important;
  border-radius: 100%;
  background-color: var(--ion-color-primary-contrast);
}

.topo-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
  justify-content: space-between;
  text-decoration: none;
}

.link-a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 19px;
    justify-content: space-between;

    ion-icon {
      display: flex;
      font-size: 27px;
      color: var(--ion-color-primary-contrast);
    }
  }
}

.text-nameCleinte p {
  margin-left: 35px;
  color: var(--ion-color-primary-contrast);
  font-size: 21px;
  cursor: pointer;
}
.container-geral {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  .h3 {
    display: flex;
    justify-content: left;
    padding: 0px 25px 0px 25px;
    height: 65px;
  }
}
.conta {
  display: flex;
  height: 40px;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 25px 0;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  p {
    color: var(--ion-color-medium);
  }
}

.conta-btns {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
  margin-bottom: 50px;
  cursor: pointer;

  .btn-arounded {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 17px 0 0;
    cursor: pointer;

    .btn-pix {
      display: flex;
      flex-direction: column;
      border: 1px solid var(--ion-color-secondary);
      width: 70px;
      height: 70px;
      border-radius: 100%;
      align-items: center;
      justify-content: center;
      background-color: var(--ion-color-secondary);

      .text-pix {
        justify-content: center;
        display: flex;
        align-items: center;
      }
      .icon-pix {
        justify-content: center;
        display: flex;
        align-items: center;
        width: 35px;
        height: 35px;
      }
      svg {
        width: 200px;
      }
    }
  }
}
.meus-cartoes {
  display: flex;
  width: auto;
  height: 58px;
  padding-left: 15px;
  align-items: center;
  background-color: var(--ion-color-secondary);
  border-radius: 15px;
  margin: 0px 15px 22px 15px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: var(--ion-color-warning-contrast);
  }

  p {
    margin-left: 10px;
  }
}
.cards-father {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.card-info {
  display: flex;
  min-width: 68%;
  height: 77px;
  padding-left: 15px;
  background-color: var(--ion-color-secondary);
  border-radius: 15px;
  margin: 0px 15px 0;
  font-size: 17px;
  a {
    text-decoration: none;
  }
}
.card-info-footer {
  display: flex;
  flex-direction: column;
  min-width: 43%;
  height: 260px;
  background-color: var(--ion-color-secondary);
  border-radius: 15px 15px 0 0;
  margin: 0px 15px 0;
  font-size: 14px;

  a {
    text-decoration: none;
  }

  img {
    width: auto;
    height: 103px;
    border-radius: 15px 15px 0 0;
  }
  p {
    padding: 0px 15px 0px 15px;
    font-size: 17px;
    color: var(--ion-color-medium);
  }
  h3 {
    margin: 0px;
    padding: 15px 15px 0px 15px;
    font-size: 14px;
  }
}

.card-fatura {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;

  p {
    margin: 15px 0px 10px 0px;
  }

  .valor-fatura {
    height: 31px;
  }
  .fatura-atual {
    display: flex;
    flex-direction: column;
  }
  .btn-reserva {
    display: flex;
    border: 1px solid var(--ion-color-primary);
    background-color: var(--ion-color-primary);
    color: var(--ion-color-secondary);
    border-radius: 20px;
    width: 208px;
    height: 36px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
}
.assitente {
  display: flex;
  width: auto;
  height: 58px;
  padding-left: 15px;
  align-items: center;
  background-color: var(--ion-color-secondary);
  border-radius: 15px;
  margin: 0px 15px 22px 15px;
  cursor: pointer;
  a {
    text-decoration: none;
    color: var(--ion-color-warning-contrast);
  }

  p {
    margin-left: 10px;
  }
  h3 {
    padding: 25px;
  }
}
.btn-saiba-mais {
  display: flex;
  border: 1px solid var(--ion-color-primary);
  border-radius: 25px;
  width: 89px;
  height: 34px;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  font-size: 10px;
  color: var(--ion-color-danger-contrast);
  background-color: var(--ion-color-primary);
}
.btn-saiba-conhecer {
  display: flex;
  border: 1px solid var(--ion-color-primary);
  border-radius: 25px;
  width: 89px;
  height: 34px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin-left: 15px;
  color: var(--ion-color-danger-contrast);
  background-color: var(--ion-color-primary);
}
.convidar-amigo {
  display: flex;
  border: 1px solid var(--ion-color-primary);
  border-radius: 25px;
  width: 89px;
  height: 34px;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  font-size: 10px;
  color: var(--ion-color-danger-contrast);
  background-color: var(--ion-color-primary);
}
