<ion-content>
  <div class="container-geral">
    <div class="icons-top">
      <ion-icon class="icon-top" name="chevron-back-outline"></ion-icon>
      <ion-icon class="icon-top" name="help-circle-outline"></ion-icon>
    </div>
    <div class="meus-investimentos">
      <p class="p-invest">Meu investimentos</p>
      <h1>R$ 3,60</h1>
    </div>
    <div class="valor-aplicado">
      <div class="icon-valor"><ion-icon name="archive-outline"></ion-icon></div>
      <div class="text-valor">
        <p>Valor aplicado</p>
        <h5>R$ 3,13</h5>
      </div>
    </div>
    <div class="rendimento">
      <div class="icon-rendimento">
        <ion-icon name="cellular-outline"></ion-icon>
      </div>
      <div class="text-rendimento">
        <p>Rendimento total</p>
        <h5><ion-icon name="arrow-up-outline"></ion-icon>R$ 3,13</h5>
      </div>
    </div>
    <div class="conta-btns">
      <div class="btn-arounded">
        <div class="btn-investir">
          <ion-icon
            class="icon-investir"
            name="code-working-outline"
          ></ion-icon>
        </div>
        <p class="text-investir">Investir</p>
      </div>
      <div class="btn-arounded">
        <div class="btn-investir">
          <ion-icon class="icon-investir" name="barcode-outline"></ion-icon>
        </div>
        <p class="text-investir">
          Acessar<br />
          historico
        </p>
      </div>
      <div class="btn-arounded">
        <div class="btn-investir">
          <ion-icon class="icon-investir" name="enter-outline"></ion-icon>
        </div>
        <p class="text-investir">consultar <br />saldo</p>
      </div>
    </div>
    <div class="barra"></div>
    <div class="minha-carteira">
      <div class="text-carteira">
        <p>Minha Carteira</p>
      </div>
      <div class="chart-pizza">
        <div class="chart"></div>
        <div class="text-chart">
          <p class="p-1">Voçê só tem um tipo de investimento na carteira</p>
          <p class="p-2">
            Para equilibrar risco e retorno, invista em ativos diferentes.
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
