.icons-top {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  padding: 0 25px;
  margin-top: 20px;
}
.icon-top {
  font-size: 27px;
}
.meus-investimentos {
  display: flex;
  padding: 0 25px;
  flex-direction: column;

  p {
    margin: 35px 0px 7px 0px;
  }
  h1 {
    margin: 0px;
  }
}
.valor-aplicado {
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    margin-left: 20px;
    font-size: 15px;
    color: var(--ion-color-medium-shade);
  }
  h5 {
    margin-left: 20px;
    font-size: 10px;
  }
}
