<ion-content>
  <div class="container-geral">
    <div class="icons-top">
      <ion-icon
        [routerLink]="['/nu']"
        class="icon-top"
        name="chevron-back-outline"
      ></ion-icon>
      <ion-icon cursor class="icon-top" name="help-circle-outline"></ion-icon>
    </div>
    <div class="meus-investimentos">
      <p class="p-invest">Meu investimentos</p>
      <h1>R${{investimentos?.rendTotal.valorTotalD}}</h1>
    </div>
    <div class="valor-aplicado">
      <div class="icon-valor"><ion-icon name="archive-outline"></ion-icon></div>
      <div class="text-valor">
        <p>Valor aplicado</p>
        <h5>R$ {{investimentos?.rendTotal.valorAplicadoD}}</h5>
      </div>
    </div>
    <div class="rendimento">
      <div class="icon-rendimento">
        <ion-icon name="cellular-outline"></ion-icon>
      </div>
      <div class="text-rendimento">
        <p>Rendimento total</p>
        <h5>
          <ion-icon name="arrow-up-outline"></ion-icon>

          <p *ngIf="investimentos">R${{investimentos.rendTotal.rendTotalP}}</p>
        </h5>
      </div>
    </div>
    <div class="conta-btns">
      <div class="btn-arounded">
        <div class="btn-investir">
          <ion-icon
            class="icon-investir"
            name="code-working-outline"
          ></ion-icon>
        </div>
        <p class="text-investir">Investir</p>
      </div>
      <div class="btn-arounded">
        <div class="btn-investir">
          <ion-icon class="icon-investir" name="barcode-outline"></ion-icon>
        </div>
        <p class="text-investir">
          Acessar<br />
          historico
        </p>
      </div>
      <div class="btn-arounded" routerLink="/nu/home">
        <div class="btn-investir">
          <ion-icon class="icon-investir" name="enter-outline"></ion-icon>
        </div>
        <p class="text-investir">consultar <br />saldo</p>
      </div>
    </div>
    <div class="barra"></div>
    <div class="minha-carteira">
      <div class="text-carteira">
        <p>Minha Carteira</p>
      </div>
      <div class="chart-pizza">
        <div class="chart-pizza-texts">
          <div class="chart"></div>
          <div class="text-chart">
            <p class="p-1">Carteira de Investimentos</p>
            <p class="p-2">
              Para equilibrar risco e retorno, invista em ativos diferentes.
            </p>
          </div>
        </div>
        <div
          class="bolsa-rendimento"
          *ngFor="let invest of investimentos?.investTotal"
        >
          <div class="divisao-text">
            <div class="icon-rendimento">
              <ion-icon color="purple" name="ellipse-outline"></ion-icon>
            </div>
            <div class="text-rendimento">
              <p>{{invest.name}}</p>
              <h5>R$ {{invest.valDin}}</h5>
            </div>
          </div>
          <div class="text-rendimento2">
            <p>{{invest.quant}} Ações</p>
            <h5>
              <ion-icon name="arrow-up-outline"></ion-icon>R$ {{invest.valPor}}
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="barra"></div>
    <div class="cdbs">
      <div class="cdb">
        <ion-icon name="ellipse"></ion-icon>
        <p>CDBs</p>
      </div>
      <div class="btn-explorar">Explorar</div>
    </div>
    <div class="barra"></div>
    <div class="cdbs">
      <div class="cdb">
        <ion-icon name="ellipse"></ion-icon>
        <p>Fundos de Investimento</p>
      </div>

      <div class="btn-explorar">Explorar</div>
    </div>
    <div class="barra"></div>
    <div class="continue-aprendendo">
      <h4>Continue aprendeno</h4>
      <div class="aprendendo">
        <p>NuEnsina: o jeitop Nu de ensinar sogra grana</p>
        <h5>
          Aprenda novas formas de lidar com seu dinheiro e até como fazé-lo
          crescer.Tem video,Quiz,dicas diversas e muito mais !
        </h5>
        <div class="btn-acessar">Acessar o NuEnsina</div>
      </div>
    </div>
  </div>
</ion-content>
